
footer{

    background-color: #be9b7b;
    text-align: center;
    position: fixed;
    bottom: 0;
    width:100%;
}
footer img{
    cursor: pointer;
    height:2.5%;
    width: 2.5%;
    padding: 5px;
}
