body{
    padding: 0px 0px;
    margin: 0px;
    background-color: #fff4e6;
    -webkit-text-fill-color: #3c2f2f;
    width: 100%;
}


.title{
    text-align: center;
}
.abouttext{
    word-wrap: break-word;
    text-align: center;
    font-size: large;
    -webkit-text-fill-color: #3c2f2f;
}

.dontbutton{
    background: red;
    -webkit-text-fill-color: white;
    border-radius: 10px;

}
.imagecontainer{
    text-align: center;
    padding: 25px;
    box-shadow: #3c2f2f;
    border: 10px;

}
.bliss{
    border-radius: 25px;
    outline: 4px;

}